html {
  width: 100%;
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  min-width: 420px;
  text-align: center;
  vertical-align: middle;
  font: 14px $mainFontFace;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  background-color: $mainBg;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

input, select, button {
  outline: none;
  border: 0;
  font: 14px $mainFontFace;
}

button {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

b {
  font-family: $mainFontFaceBold;
}

.page {
  display: table-cell;
  vertical-align: middle;
}

p.info-help {
  margin: 20px 0;
  font-size: 14px;
  color: #a7a7a7;
}

h3.info-title {
  font-size: 20px;
}
